<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <mscorlib>
    <security>
      <policy>
        <PolicyLevel version="1">
          <SecurityClasses>
            <!-- West Wind Web Store Added Security Classes -->
            <SecurityClass Name="ReflectionPermission" Description="System.Security.Permissions.ReflectionPermission, mscorlib, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
            <SecurityClass Name="SocketPermission" Description="System.Net.SocketPermission, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <SecurityClass Name="FileIOPermission" Description="System.Security.Permissions.FileIOPermission, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <!-- End West Wind Web Store Added Security Classes -->
          </SecurityClasses>
        </PolicyLevel>
      </policy>
    </security>
  </mscorlib>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <trust level= "Full"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CodeRank.Api.Service.CompilerService">
        <endpoint address="" binding="basicHttpBinding"
          bindingConfiguration="" name="CompilerServiceEndPointHttp" contract="CodeRank.Api.Service.Contracts.ICompilationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://Localhost/CompilerService/Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
</configuration>