USE [master]
GO
/****** Object:  Database [CodeRank]    Script Date: 14-08-2014  6:32:24 PM ******/
CREATE DATABASE [CodeRank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeRank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CodeRank.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CodeRank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CodeRank_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeRank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeRank]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidate](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NULL,
	[emailID] [varchar](150) NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[PaperSetID] [int] NOT NULL,
	[ExamDate] [date] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Exam] ADD  CONSTRAINT [DF_Exam_ExamDate]  DEFAULT (getdate()) FOR [ExamDate]
GO


/****** Object:  Table [dbo].[ExamResult]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResult](
	[ExamID] [int] NOT NULL,
	[PaperSetQuestionID] [int] NOT NULL,
	[Score] [smallint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaperSet]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaperSet](
	[PaperSetID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_PaperSet] PRIMARY KEY CLUSTERED 
(
	[PaperSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaperSetQuestion]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperSetQuestion](
	[PaperSetQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[PaperSetID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[MaximumMarks] [smallint] NOT NULL,
 CONSTRAINT [PK_PaperSetQuestion] PRIMARY KEY CLUSTERED 
(
	[PaperSetQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 14-08-2014  6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[ComplexityLevel] [smallint] NOT NULL,
	[TestAssemblyName] [varchar](200) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PaperSetQuestion] ADD  CONSTRAINT [DF_PaperSetQuestion_MaximumMarks]  DEFAULT ((0)) FOR [MaximumMarks]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidate] ([CandidateID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Candidate]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_PaperSet] FOREIGN KEY([ExamID])
REFERENCES [dbo].[PaperSet] ([PaperSetID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_PaperSet]
GO
ALTER TABLE [dbo].[ExamResult]  WITH CHECK ADD  CONSTRAINT [FK_ExamResult_Exam] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exam] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResult] CHECK CONSTRAINT [FK_ExamResult_Exam]
GO
ALTER TABLE [dbo].[ExamResult]  WITH CHECK ADD  CONSTRAINT [FK_ExamResult_PaperSetQuestion] FOREIGN KEY([PaperSetQuestionID])
REFERENCES [dbo].[PaperSetQuestion] ([PaperSetQuestionID])
GO
ALTER TABLE [dbo].[ExamResult] CHECK CONSTRAINT [FK_ExamResult_PaperSetQuestion]
GO
ALTER TABLE [dbo].[PaperSetQuestion]  WITH CHECK ADD  CONSTRAINT [FK_PaperSetQuestion_PaperSet] FOREIGN KEY([PaperSetID])
REFERENCES [dbo].[PaperSet] ([PaperSetID])
GO
ALTER TABLE [dbo].[PaperSetQuestion] CHECK CONSTRAINT [FK_PaperSetQuestion_PaperSet]
GO
ALTER TABLE [dbo].[PaperSetQuestion]  WITH CHECK ADD  CONSTRAINT [FK_PaperSetQuestion_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[PaperSetQuestion] CHECK CONSTRAINT [FK_PaperSetQuestion_Questions]
GO
USE [master]
GO
